<!DOCTYPE html>
<html lang="en">
  <head>
    <title>idk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
  </head>
  <body>
	<div class="col">
        <p id="stuff">Commun<img 
            src="home-5-24.png"
            class="home"
            /> 
        </p>
      
    </div>
    <div class="line"></div>
    
    <div class="bl">
        <p id="discu">Flint Michigan Water Crisis </p>
        <p id="feel">Discussion and Discourse</p>
    </div>

    <div class="gre"> 
        <img 
            src="person-circle-outline-svgrepo-com (1).svg"
            class="per"
            /> 
        <h1 id="grt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
        </h1>
    </div>
    <div class="bottom"></div>
  </body>
</html>