<!DOCTYPE html>
<html lang="en">
  <head>
    <title>idk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
  </head>
  <body>
	<div class="col">
        <p id="stuff">Commun<img 
            src="{{ url_for('static',  filename='home-5-24.png')}}"
            class="home"
            /> 
        </p>
      
    </div>
    <div class="line"></div>
    
    <div class="bl">
        <p id="discu">{{ issue.title }}</p>
        <p id="feel">Discussion and Discourse</p>
    </div>

    <div class="gre"> 
        <img 
            src="{{ url_for('static', filename='person-circle-outline-svgrepo-com.svg')}}"
            class="per"
            /> 
        <h1 id="grt">{{ issue.about }}
        </h1>
    </div>
    <div class="bottom"></div>
  </body>
</html>